.feed {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
.view {
    display: flex;
    justify-content: flex-end;
  width: 100%;
}

.view>button{
    background-color: rgb(230, 229, 229);
    color: black !important;
    padding: 0.2rem 0.5rem;
    border-radius: 5px;
    font-weight: 700;
    outline: none;

}
.view>button:hover{
    background-color: rgb(138, 137, 137);
    color: white !important;
}

.img {
  height: 200px;
  width: 100%;
}

.main {
  padding: 2rem;
}
.card {
  box-shadow: 0 10px 15px  rgba(82, 82, 82, 0.186), 0 4px 6px -2px rgb(0 0 0 / 5%);
  overflow: hidden;
  max-width: 24rem;
  border-radius: 0.3rem;
}
.info {
  padding: 1rem 1.15rem;
}

.title {
  margin-bottom: 0.5rem;
  font-weight: 700;
  font-size: 1.2rem;
}

.content {
  --text-opacity: 1;
  color: #4a5568;
  font-size: 1rem;
  margin: 0;
}
.btn-more {
  margin-bottom: 0.5rem;
  font-weight: 700;
  font-size: 1.3rem;
  margin-right: 2.7rem;
}
.readMore {
  padding: 0 5px;
  padding-top: 5px;
  color: rgb(69, 69, 71);
}
button {
  margin-right: 2.7rem;
  padding: 0.4rem;
}
.readMore:hover {
  border-bottom: 2px solid blue;
}

/* list  */

.feed-list {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.main {
  padding: 2rem;
}

.card-list {
  display: flex;
  width: 100%;
  box-shadow: 0 10px 15px  rgba(82, 82, 82, 0.186), 0 4px 6px -2px rgb(0 0 0 / 5%);
  overflow: hidden;
  border-radius: 0.3rem;
}

.img-list {
  height: 200px;
  width: 30%;
}

.info {
  padding: 1rem 1.15rem;
}

.title {
  margin-bottom: 0.5rem;
  font-weight: 700;
  font-size: 1.2rem;
}

.content {
  --text-opacity: 1;
  color: #4a5568;
  font-size: 1rem;
  margin: 0;
}

button {
  margin-right: 2.7rem;
  margin-top: 2rem;
}




/* mobile  */


 @media only screen and (max-width : 750px) {
  
.view{
  display: none;
}
.feed-list{
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap !important;
}


.card-list {
  width: 100%;
  box-shadow: 0 10px 15px -3px rgb(0 0 0 / 10%), 0 4px 6px -2px rgb(0 0 0 / 5%);
  overflow: hidden;
  border-radius: 0.3rem;
  display: flex;
    flex-direction: column;
}
.img-list {
  height: 200px;
  width: 100%;
}

 }